doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title &lt/ScriptThread&gt
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/clean-blog.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    // Custom Fonts
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') &lt/ScriptThread&gt
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li
              a(href='/angular-blog-post') Code
            li
              a(href='post.html') About
            li
              a(href='contact.html') Resources
            li
              a(href='contact.html') Contact
        // /.navbar-collapse
      // /.container
    // Page Header
    // Set your background image for this header on the line below.
    header.intro-header(style="background-image: url('img/css-framworks.jpeg')")
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .post-heading
              h1 Top 3 Bootstrap Alternatives 
              h2.subheading Lightweight, customizable CSS to start use on your next project.
              span.meta
                | Posted by Nicholas Guerra
                a(href='#')  &lt/ScriptThread&gt
                |  on January 13, 2016
    // Post Content
    article
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            h2.section-heading Skeleton
            h2.subheading A dead simple, responsive boilerplate.
            p
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skeleton is a boilerplate made for smaller projects that don’t need the weight of a full UI framework. It was built with mobile design in mind and its typography, 12 column fluid grid, and style work fantastic together.
            h2.section-heading Pure
            h2.subheading A set of small, responsive CSS modules that you can use in every web project.
            p
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pure is a good role model when it comes to creating frameworks. Its modularity makes it easy to use what you like with your own code or other frameworks and leave out what you don't need. Pure also has some great example layouts to help get your projects started.
            h2.section-heading Kube
            h2.subheading Evolution of a CSS framework for professional designers and developers.
            p
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kube typography and style is unique and clean,  it has a creative grid system that is flexible, and like the others, it is very small and easily customizable. Its block system stands out as an impressive feature for organizing media quickly and easily.
            h2.section-heading Honerable Mentions
            div(id='resources')
              ul
                li 
                  a(href='http://mincss.com') Min
                li
                  a(href='http://www.basscss.com') Basscss
                li
                  a(href='http://milligram.github.io') Milligram
                li
                  a(href='http://furtive.co/') Furtive
    hr
    // Footer
    footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            ul.list-inline.text-center
              li
                a(href='#')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
              li
                a(href='#')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
              li
                a(href='https://github.com/scriptthread')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github.fa-stack-1x.fa-inverse
            p.copyright.text-muted Copyright © ScriptThread.com 2016
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Custom Theme JavaScript
    script(src='js/clean-blog.min.js')
